<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    <link href="~/MyEdition/css/all.css" rel="stylesheet" />
    <link href="~/MyEdition/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/MyEdition/css/Style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Courgette|Lobster" rel="stylesheet">
</head>
<body>

    @* ===================== Start NavBar ===================== *@

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-edit nav-scrolling00">
        <ul class="navbar-nav pull-sm-left">
            <li class="nav-item" style="color:#fbf2f200">
                aaaaaaaaaazz
            </li>
        </ul>

        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="navbar-brand  text-center" href="/Products/index"><span style="color:aqua;">E</span>Market</a>
            </li>
        </ul>

        <ul class="navbar-nav pull-sm-right">
            <li class="nav-item">
                <button type="button" class="btn btn-outline-success">Cart List</button>
            </li>
        </ul>
    </nav>

    @* ===================== End NavBar ===================== *@


    @* ===================== Start carousel ===================== *@

    <div style="overflow-x:hidden; overflow-y:hidden">
        <section class="wave-container">
            <div class="welcome-text text-center">
                <h1 style="font-family: 'Lobster', cursive;
                     font-size: 60px;"><span style="color:aqua">E</span>Market App</h1>
                <p style="font-size: 16px;">It's time to get best quality ...</p>
            </div>
            <img src="~/MyEdition/images/wave.svg" />
            <div class="wave"></div>
        </section>
    </div>

    @* ===================== End carousel ===================== *@

    @* ===================== Start views && footer ===================== *@

    <div class="body-content mt-5">
        @RenderBody()
    </div>


    <footer class="mt-5">
        <div class="copyright">
            <p>&copy; @DateTime.Now.Year - E-Market Application Using Asp .Net</p>
        </div>
        <div class="social">
            <a href="/" class="support">Contact Us</a>
            <a href="http://www.facebook.com" class="face" target="_blank">f</a>
            <a href="http://www.twitter.com" class="tweet" target="_blank">t</a>
            <a href="http://www.linkedin.com" class="linked" target="_blank">in</a>
        </div>
    </footer>

    @* ===================== End views && footer ===================== *@


    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@

    <script src="~/MyEdition/js/jquery.min.js"></script>
    <script src="~/MyEdition/js/bootstrap.min.js"></script>
    <script src="~/MyEdition/js/my_script.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
