@model IEnumerable<emarket.Models.Product>

@{
    ViewBag.Title = "Index";
}

<div class="container text-center header-view">
    <h1></h1>
    <p> </p>
</div>

<div class="manage-items">

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #332d2d26;">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav pull-sm-left">
                    <li class="nav-item">
                        <a class="nav-link btn btn-nav-ajax" id="select_all_products" style="cursor: pointer;border-radius:50px;padding:7px 14px;color:white;">All Products</a>
                    </li>
                </ul>

                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        @Html.DropDownList("categories_ajax", null, "Select Category ~", htmlAttributes: new { @class = "form-control btn btn-nav-ajax nav-ajax" })
                    </li>
                </ul>

                <ul class="navbar-nav pull-sm-right">
                    <li class="nav-item">
                        <a href='@Url.Action("Create","Products")' class="btn btn-nav-ajax align-self-end" style="border-radius: 50px; padding: 7px 14px"><i class="fa fa-plus"></i> Add New item</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    
    <div class="mr-2 ml-2" style="overflow-x:hidden;">
        <div class="row item-view justify-content-md-center" id="category-select">
            @foreach (var product in Model)
            {
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <div class="card item-part" style="width: 14rem;">
                        <img src="@Url.Content(product.image)" class="card-img-top" style="height:150px">
                        <div class="card-body">
                            <h4 class="card-title" style="margin-bottom: 25px">@product.name</h4>
                            <hr />
                            <span style="color: grey">Price: @product.price$</span>
                        </div>
                        <div class="item-part-overlay text-center">
                            <a href="@Url.Action("Details" ,"Products" ,new { id=product.Id })" style="color: white" class="btn btn-primary"><i class="fab fa-pagelines"></i> View</a> <br /> <br />
                            <a href="#" style="color: white" class="btn btn-success">Add To Cart</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>